@font-face {
  font-family: Arcade;
  src: url("../fonts/ARCADE.TTF");
  font-weight: 400;
}

@font-face {
  font-family: Arcadepix;
  src: url("../fonts/ARCADEPIX.ttf");
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.fontArcade {
  font-family: Arcade;
  position: absolute;
  left: -1000px;
  visibility: hidden;
}

.fontArcadepix {
  font-family: Arcadepix;
  position: absolute;
  left: -1000px;
  visibility: hidden;
}